 <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
        }

        .left-container,
        .right-container {
            flex: 1;
            padding: 5px;
            background-color: #fff;
            border-radius: 2px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        h1 {
            text-align: center;
            background-color: #0073e6;
            color: #fff;
            padding: 2x;
            margin: 0;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="date"],
        input[type="text"],
        input[type="number"] {
            width: 100%;
            padding: 5px;
            margin-bottom: 5px;
            border: 1px solid #ccc;
            border-radius: 2px;
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px; /* Add some space between buttons and input forms */
        }

        button {
            background-color: #0073e6;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 1px;
            cursor: pointer;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid #ccc;
        }

        th, td {
            padding: 8px;
            text-align: center;
        }

        /* Added new style for the "See Sales" button */
        .see-sales-button {
            margin-top: 10px; /* Add some space between "Add Sale" button and "See Sales" button */
            align-self: flex-end; /* Align the button to the right within the left container */
        }
    </style>